name: first workflow
on: [push]

jobs:
    run-sell-commands:
        runs-on: ubuntu-latest
        steps:
            - name: echo a string
              run: echo "Hello World"
            - name: Multiline Command
              run: |
                node -v
                npm -v


