name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Display AWS Access Key
        run: echo "AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}"

      - name: Display AWS Secret Access Key
        run: echo "AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}"

      - name: Display AWS Session Token
        if: secrets.AWS_SESSION_TOKEN != ''
        run: echo "AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}"

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::924448903064:role/mohit_oidc_test_role
          aws-region: us-east-1

      - name: List of AWS
        run: |
          aws s3 ls
