name: Working Dirs & Shels
on: [workflow_dispatch]
defaults:
    run:
      shell: bash
jobs:
    display-linux-info:
      runs-on: ubuntu-latest
      steps:
        - name : Display working Directory and List fiels
          run: |
           pwd
           ls -a
           echo $GITHUB_SHA
           echo $GITHUB_REPOSITORY
           echo $GITHUB_WORKSPACE
    display-wd-info:
       runs-on: windows-latest
       defaults:
         run:
            shell: pwsh
       steps:
        - name : Display working Directory and List fiels
          run: |
                Get-Location
                dir
                echo $env:GITHUB_SHA
                echo $env:GITHUB_REPOSITORY
                echo $env:GITHUB_WORKSPACE
